<hr/>
<h1>List of Exercies</h1>
<!-- <h2>Bài 3</h2>
<app-my-component></app-my-component>
<hr/>
<h2>Bài 4</h2>
<app-binding-property-component></app-binding-property-component>
<hr/>
<h2>Bài 5</h2>
<app-binding-class-component></app-binding-class-component>
<hr/>
<h2>Bài 6</h2>
<app-bai-tap6></app-bai-tap6>
<hr/>
<h2>Bài 7</h2>
<app-bai-tap7></app-bai-tap7>
<hr>
<h2>Bài 8</h2>
<app-bai-tap8></app-bai-tap8>
<hr/>
<h2>Bài 9</h2>
<app-bai-tap9></app-bai-tap9>
<hr/>
<h2>Bài 10</h2>
<app-bai-tap10></app-bai-tap10>
<hr/>
<h2>Bài 11</h2>
<app-bai-tap11></app-bai-tap11>
<hr/>
<h2>Bài 12</h2>
<app-bai-tap12></app-bai-tap12>
<hr/>
<h2>Bài 13</h2>
<app-bai-tap13></app-bai-tap13> -->
<!-- <h2>Bai 15</h2> -->
<!-- <app-bai15></app-bai15> -->
<!-- <app-bai-tap16></app-bai-tap16> -->
<!-- <app-bai-tap18></app-bai-tap18>
<app-bai-tap21></app-bai-tap21> -->
<!-- <app-bai-tap22></app-bai-tap22> -->
<!-- <app-dong-abank></app-dong-abank> -->
<!-- <app-fake-product></app-fake-product> -->
<!-- <app-bit-coin></app-bit-coin> -->
<!-- <app-public-api></app-public-api> -->
<!-- <app-fashion></app-fashion> -->
<!-- <app-bakery></app-bakery> -->

<button mat-raised-button [routerLink]="'/exercise-list/bitcoin'">Bài 32</button>
<button mat-raised-button [routerLink]="'/exercise-list/books'">Bài 42-43</button>
<button mat-raised-button [routerLink]="'/exercise-list/book-detail'">Bài 44-45</button>
<button mat-raised-button [routerLink]="'/exercise-list/book-new'">Bài 46-47</button>
<button mat-raised-button [routerLink]="'/exercise-list/book-update'">Bài 48-49</button>
<button mat-raised-button [routerLink]="'/exercise-list/book-delete'">Bài 50</button>
<button mat-raised-button [routerLink]="'/exercise-list/fashions'">Bài 57</button>
<button mat-raised-button [routerLink]="'/exercise-list/fashions/detail'">Bài 58</button>
<button mat-raised-button [routerLink]="'/exercise-list/fashion-new'">Bài 59</button>
<button mat-raised-button [routerLink]="'/exercise-list/fashion-update'">Bài 60</button>
<button mat-raised-button [routerLink]="'/exercise-list/cookie-login'">Bài 66</button>
<button mat-raised-button [routerLink]="'/exercise-list/cosmetic'">Bài 67</button>

<router-outlet></router-outlet>
