<p>group-customer works!</p>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>#</th>


    </tr>
    <tbody *ngFor="let ct of database">
        <!-- <tr> -->
        <!-- <td colspan="5"> -->
        <!-- <table border="1" [cellSpacing]="0" [cellPadding]="10"> -->
        <tr>
            <td colspan="5">{{ct.CustomerTypeId}} - {{ct.CustomerTypeName}}></td>
        </tr>
        <tr *ngFor="let c of ct.Customers">
            <td>{{c.Id}}</td>
            <td>{{c.Name}}</td>
            <td>{{c.Email}}</td>
            <td>{{c.Age}}</td>
            <td>
                <img src="{{c.Image}}" width="100" height="100">
            </td>

        </tr>
        <!-- </table> -->
        <!-- </td> -->
        <!-- </tr> -->
    </tbody>
</table>