<div class="main">
    <table border="1">
        <tr>
            <th>
                ProductName
            </th>
            <th>ProductPrice</th>
            <th>Quantity</th>
            <th></th>
        </tr>
        <tbody>
            <tr *ngFor="let p of data">
                <td>{{p.cart.Product.ProductName}}</td>
                <td>{{p.cart.Product.Price}}</td>
                <td>{{p.cart.Quantity}}</td>
                <td><button mat-flat-button><mat-icon>delete_forever</mat-icon></button></td>
            </tr>
        </tbody>
    </table>
</div>
